$helltürkis: rgb(144, 228, 203);
$dunkeltürkis: rgb(99, 152, 155);
$hellgrau: rgb(212, 206, 206);
$blautürkis:#36abb3;
$grün:#3cb69c;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

.link-style {
  color: black; 
  text-decoration: none;
}

.link-style:hover
{
  color: $helltürkis; 
  text-decoration: none;
}

h1,h2,h3
{
  color:  $blautürkis;
  text-shadow: $helltürkis 5px 10px 20px;
  text-align: center;
}

p
{
  font-size: 20;
  color: black;
  text-align: center;
}

hr.neu
{
  border: 1px solid $dunkeltürkis;
}

table
{
  padding:25px;
  background-color: $helltürkis;
  border: 2px solid $dunkeltürkis;
  font-size: 20px;
  color: black;
  text-align: left;
  font-weight: 300;
}

th
{
  font-size: 20px;
  color: black;
  font-weight: 300;
}

input
{
  height:30px;
  font-size: 20px;
}

.rahmen-container
{
  display: flex;
  flex-flow: column;
  width:100%;
  height:100%;
  background-color: $hellgrau;
  padding-top:25px;
  padding-bottom:25px;

}

.header-container
{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding:25px;
  background-image: linear-gradient(to top,$helltürkis,$dunkeltürkis 99%);
  width:100%;
}

.image-container
{
float:left;
flex:50%;
}

.titel-container
{
float:left;
flex:50%;
margin-top:25px;
text-align:right;
margin-right:0px;
color: white;
font-size: 30px;
}

.nav-container
{
  flex: 10%;
  height:200px;
  width:100%;
}

.hero-container
{
  display: flex;
  flex-flow: column;
  flex:70%;
  padding:25px;
  margin-bottom: 50px;
}

.hero-text
{
  font-size: 10pt;
}

.footer-container
{
  flex:20%;
  padding: 25px;
  background-image: linear-gradient(to bottom,$helltürkis,$dunkeltürkis 99%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cylas-logo-groß
{
  width:20em;
  height:20em;
}

.cylas-logo-klein
{
  text-align: center;
}

.profile-img
{
  text-align: center;
}

/*Elemente*/

.button-container
{
  float:left;
  margin:10px;
  width:200px;
  height: 50px;
  border: 2px solid $dunkeltürkis;
  background-color:$blautürkis;
  border-radius: 10px 10px 10px;
  text-align: center;
  padding:5px;
  font-size: 25px;
}

.punkt-container
{
  float:left;
  width:10px;
  height:10px;
  border-radius: 10px;
  background-color: $blautürkis;
}

.impressum-container
{
  float:left;
}

span
{
  color:$blautürkis;
}

.abstand
{
  padding:15px;
}

.zentrieren
{
  margin:auto;
  width:50%;
}

