
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

.link-style {
  color: #17757c; 
  text-decoration: none;
}

h1,h2,h3
{
  color:  #18848b;
  text-shadow: rgb(144, 228, 203) 2px 2px 5px;
  text-align: center;
  margin:10px;
}

h4
{
  color:  black;
  text-shadow: rgb(144, 228, 203) 2px 2px 5px;
  text-align: center;
  margin:10px;
}

p
{
  font-size: 20;
  color: black;
  text-align: center;
}

hr.neu
{
  border: 1px solid rgb(99, 152, 155);
}

hr.dunkel
{
  border: 1px solid #115d5d;
}

table
{
  padding:25px;
  background-color: rgb(144, 228, 203);
  border: 2px solid #36abb3;
  font-size: 20px;
  color: black;
  text-align: left;
  font-weight: 300;
  border-radius:20px; 
  box-shadow: 0 8px 8px -4px rgb(99, 152, 155);
}

th
{
  font-size: 16px;
  color: black;
  font-weight: 300;
  vertical-align: top;
}


textarea
{
  font-size: 20px;
  resize: none;
}

input
{
  height:30px;
  font-size: 20px;
}

.flyer
{
  margin-left:42%;
}

.rahmen-container
{
  display: flex;
  flex-flow: column;
  width:100%;
  height:100%;
  background-image: url("../app/image/bg_light_blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_rahmen
{
  display: flex;
  flex-flow: column;
  width:100%;
  height:100%;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to top,rgb(144, 228, 203),rgb(99, 152, 155) 99%);
}

.header-container
{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding:25px;
  background-image: url("../app/image/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
}

.image-container
{
float:left;
flex:50%;
}

.titel-container
{
float:left;
flex:50%;
margin-top:25px;
text-align:right;
margin-right:0px;
color: white;
font-size: 30px;
}

.nav-container
{
  padding-top:20px;
  padding-bottom:20px;
  position: relative;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 10%;
  height:200px;
  width:100%;
}

.sub-nav-container
{
  position: relative;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 10%;
  height:200px;
  width:100%;
}

.footer-container
{

  flex:20%;
  padding:25px;
  background-image: linear-gradient(to bottom,rgb(144, 228, 203),rgb(99, 152, 155)  99%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cylas-logo-groß
{
  margin-left:20px;
  width:20em;
  height:20em;
}

.cylas-logo-klein
{
  text-align: center;
  filter: brightness(120%);
}

.profile-img
{
  text-align: center;
}

/*Elemente*/

.button-container
{
  margin:10px;
  width:200px;
  height: 40px;
  border: 2px solid #36abb3;
  background-color:#36abb3;
  background: linear-gradient( rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border-radius: 10px;
  text-align: center;
  padding:5px;
  font-size: 20px;
}

.button-neu
{
  margin:5px;
  width:200px;
  height: 60px;
  background-image: url("../app/image/button.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding:15px;
  font-size: 20px;
}
.button-neu:hover
{
  filter:brightness(120%);
}

.button-container:hover, .button-container-klein:hover
{
  box-shadow: 0 0 5px 0 #36abb3, 0 0 5px 2px rgba(129,230,217,1);
  border: 2px solid rgba(129,230,217,1);
}

.link_aktiv
{
  box-shadow: 0 0 5px 0 #36abb3, 0 0 5px 2px rgba(129,230,217,1);
  border: 2px solid rgba(129,230,217,1);
}


.button-container-klein
{
  float: left;
  margin:10px;
  width:150px;
  height: 35px;
  border: 2px solid #36abb3;
  background-color:#36abb3;
  background: linear-gradient( rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border-radius: 10px;
  text-align: center;
  color: #17757c;
  padding:1px;
  font-size: 16px;
}


.punkt-container
{
  margin:5px;
  float:left;
  width:15px;
  height:15px;
  border-radius: 5px;
  background-color: #36abb3;
}

.tooltip
{
  position:relative;
  display:inline-block;
  border-bottom: 1px  black;
  color: #000;
  top:-40px;
  left:25px;
  cursor: pointer;
}

.tooltip .tooltiptext
{
  visibility: hidden;
  width:350px;
  background-color: rgb(20, 152, 155);
  color: rgb(144, 228, 203);
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  margin-top:40px;
  left: -40px;
}

.tooltip:hover .tooltiptext 
{
  visibility: visible;
}

span
{
  color:#17757c;
  font-weight: 600;
}


.abstand
{
  padding:20px;
}

.abstand-unten
{
  margin-bottom: 100px;
}

.zentrieren
{
  margin:auto;
  width:50%;
}

.textfeld-container
{
  margin: 10px 10px 10px 30px;
  padding:5px;
  float:left;
  width:370px;
  height:400x;
  border-radius:20px; 
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:rgb(144, 228, 203);
  color:white;
}

.leeres-textfeld
{
  margin: 60px 1px 10px 30px;
  padding:5px;
  float:left;
  width:370px;
  height:300px;
}

/* Slider Eigenschaften */

.slider
{
  height: 30vh;
  width:110vh;
}
.slider h3
{
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 4.2rem !important;
}

.slidercontainer
{
  height: 40vh;
}

.slidercontainer
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.slider-button button:hover
{
  display:none;
}

.btn-links
{
  display:none;
}

.btn-rechts
{
  display:none;
}

button .slider-button
{
  display:none;
}

/* Links, Items */

button:hover :active
{
  background-color: rgb(99, 152, 155);
}


.link {
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-img img 
{
  width: 21rem;
}

.row-item 
{
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.row-container {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
  padding: 0.2rem 0.6rem;
}

.row-container::-webkit-scrollbar 
{
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Gästbuch Eigenschaften */

.guestbook
{
  margin:30px 1px 10px 80px;
  width:250px;
  height:150px;
  background-color:rgb(99, 152, 155) ;
  border-radius: 30px 10px 30px 10px;
  padding:20px;
  color:rgb(144, 228, 203);
}

.background
{
  width:500px;
  margin-left: 35%;
  margin-right: 35%;
  border-radius:15px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(to top,rgb(144, 228, 203),rgb(99, 152, 155) 99%);
}

#map
{
  position: relative;
  margin-top: -390px;
  margin-left: 50%;
}

.contact_container
{
  margin-left:39%;
}

@media only screen and (max-width: 800px) {

  .flyer
{
  margin-left:25%;
}

  #button_column
  {
    border-radius: 15px !important;
    width:350px;
    height:100px;
    margin:15px;
    padding:30px;
    font-size:30px;
  }

  .titel-container
  {
    position: absolute;
    margin-top:-5%;
    margin-left: 100px;
    font-size: 16px;
  }
  .cylas-logo-klein
  {
    width:5em;
    height: 5em;
  }

  #subnav
  {
    flex-wrap: nowrap;
  }

  .video
  {
    margin-left: -2%;
  }

  .textfeld-container
  {
    margin-left:-20px;
  }

  #map
{
  position: relative;
  margin-top: 50px;
  margin-left: 5%;
}

.contact_container
{
  margin-left:5%;
}

/* Slider Eigenschaften */

.slider
{
  height: 50vh;
  width:40vh;
}
.slider h3
{
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 4.2rem !important;
}

.slidercontainer
{
  height: 40vh;
}

.slidercontainer
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 19px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.slider-button button
{
  color: white;
  background-color:  #2a8889;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
  display:inline;
}

.slider-button button:hover
{
  background-color:  #286464;
  display:inline;
}

.btn-links
{
border-radius: 20px 0px 0px 20px;
margin-right:20px;
display:inline;
}

.btn-rechts
{
border-radius: 0px 20px 20px 0px;
margin-left: 20px;
display:inline;
}

button .slider-button
{
  display: flex;
  gap: 0.4rem;
  display:inline;
}


  }

